<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home Page</title>
    <style>
        .pwd 
        {
            -webkit-text-security: disc;
        }

        .hide
        {
            opacity:0;
            display: none;
        }

        .display
        {
            opacity : 1;
            display : block;
        }

        .form-control
        {
            width:100%;
        }
        .message
        {
            width: 400px; 
            text-align: center;
            margin: auto;
            height: 100px;
            transition: all 0.3s ease-out;
        }
        
        .table
        {
            transition: all 2s ease-in-out;
        }

        .updtclose:focus, .addbtnclose:focus
        {
            box-shadow: none;
        }

    </style>
</head>
<body>
    <div class="modal fade" id="deletemodal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="{% url 'deletedata' %}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <i class="fas fa-trash-alt"></i>
                        <strong>Are you sure you want to delete this item?</strong><br>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="Delete">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="hidden" id="delete_record_id"  name="id">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updatemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Password</h5>
                    <button type="button" class="updtclose btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" name="myform" action="{% url 'update' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="alert alert-danger updt_form_error hide"></div>
                        <div class="outerdiv my-4">
                            <input type="password" name="password" class="form-control" value="" placeholder="Password" required>
                            <span class="fa fa-eye mx-2 displaypassword"></span>
                        </div>
                        <div class="outerdiv my-4">
                            <input type="password" name="confirmpassword" class="form-control" value="" placeholder=" Confirm Password" required>
                            <span class="fa fa-eye mx-2 displaypassword"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="update_rec_id"  name="id">
                        <input type="submit" class="btn btn-primary" id="updatebtn" role="button" value="Update">
                        <button type="button" class="updtclose btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" name="addform" action="{% url 'add_account' %}">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Details</h5>
                        <button type="button" class="addbtnclose btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="alert alert-danger add_form_error hide"></div>
                        <div class="outerdiv my-4">
                            <input type="text" name="account_name" class="form-control" placeholder="Account Name">
                        </div>
                        <div class="outerdiv my-4">
                            <input type="text" name="user_name" class="form-control" placeholder="User Name">
                        </div>
                        <div class="outerdiv my-4">
                            <input type="password" name="password" class="form-control inputpassword"placeholder="Password">
                            <span class="fa fa-eye mx-2 displaypassword"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="modaladdaccbtn" role="button" value="Add">
                        <button type="button" class="addbtnclose btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="d-flex justify-content-between my-2">
            <h4>Welcome {{ user.username|capfirst }} </h4>
            <a href="{% url 'logout' %}" class="btn btn-warning btn-sm"> 
                <i class="fa fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </div>
        {% if details.values %}
            <div class="alert alert-info"> Here are the list of passwords which you have saved!</div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="d-flex align-items-center justify-content-center message">
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Name </th>
                            <th>User Name </th>
                            <th> Password </th>
                            <th> Show Password </th>
                            <th> Update </th>
                            <th> Delete </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for password_list in details %}
                        <tr>
                            <td>{{ password_list.account_name }}</td>
                            <td>{{ password_list.user_name }}</td>
                            <td class="pwd">{{ password_list.password }}</td>
                            <td class="togglePwdicon"><span class="fa fa-eye" style="margin-left: 50px;"></span></td>
                            <td> <a class="update btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#updatemodal" data-id="{{ password_list.id }}"> Update </a></td>
                            <td><a class="del btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletemodal" data-id="{{ password_list.id }}"> Delete </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <div class="alert alert-warning">You haven't stored any passwords!</div>
        {% endif %}
            <a data-bs-toggle="modal" data-bs-target="#addmodal" class="btn btn-primary btn-sm"> Add </a>
    </div>
    <script>
        var input = document.getElementsByClassName("form-control")
        for(i=0;i<input.length;i++){
            input[i].addEventListener("focus",() => {
                var outer = event.srcElement.parentNode
                outer.style["border"] = "2px solid #657dde"
                })
            input[i].addEventListener("focusout",() => {
                var outer = event.srcElement.parentNode
                outer.style["border"] = "1px solid #8c8c8c"
                })
            }
        $('.togglePwdicon').on("click",function(){
            var password = $(this).prev("td")
            password[0].style["-webkit-text-security"]="none"
            var icon =$(this)[0].firstChild
            icon.classList.remove("fa-eye")
            icon.classList.add("fa-eye-slash")
                        
            setTimeout(function(){
            password[0].style["-webkit-text-security"]="disc"
            icon.classList.remove("fa-eye-slash")
            icon.classList.add("fa-eye")
            },2000)
        })

        $('.displaypassword').on("click",function(){
            let showpwdicon = $(this)[0]
            var pwd = $(this).prev("input")[0]
            pwd.setAttribute("type","text")
            showpwdicon.classList.remove("fa-eye")
            showpwdicon.classList.add("fa-eye-slash")
            setTimeout(function(){
                pwd.setAttribute("type","password")
                showpwdicon.classList.remove("fa-eye-slash")
                showpwdicon.classList.add("fa-eye")
            },3000)
        })
        $(".update").on("click",function(){
            var id
            var element = $(this)[0].getAttribute("data-id")
            id=element
            console.log(id)
            var element = document.getElementById("update_rec_id")
            element.setAttribute("value",id)
        })
        $("#updatebtn").on("click",function(clickEvent){
            var password = myform.password.value
            var  c_password = myform.confirmpassword.value
            var updateform_error= document.getElementsByClassName("updt_form_error")[0]
            if(password==="" || c_password==="")
            {
                clickEvent.preventDefault()
                updateform_error.classList.remove("hide")
                updateform_error.classList.add("display")
                updateform_error.innerText ="The fields cannot be empty"
                change_style(updateform_error)
            }
            else if(c_password!=password)
            {
                clickEvent.preventDefault()
                updateform_error.classList.remove("hide")
                updateform_error.classList.add("display")
                updateform_error.innerText="The two passwords didn't match!"
                change_style(updateform_error) 
            }
            else
            {
                password.value=""
                c_password.value=""
                $("#updatemodal").modal('hide')
            }
        })

        function change_style(element)
        {
            setTimeout(function(){
                element.classList.remove("display")
                element.classList.add("hide")},
                3000)
        }

        $(".del").on("click",function(){
            var id
            var element = $(this)[0].getAttribute("data-id")
            id=element
            var ele = document.getElementById("delete_record_id")
            ele.setAttribute("value",id)
        })

        var message = document.getElementsByClassName("message")[0]
        setTimeout(function(){
            message.style.visibility = "hidden"
            message.style.height = 0
        },3000)

        $("#modaladdaccbtn").on("click",function(clickEvent){
            var account_name = addform.account_name.value
            var  user_name = addform.user_name.value
            var password = addform.password.value
            var addform_error= document.getElementsByClassName("add_form_error")[0]
            var text="The fields cannot be empty"
            if(account_name==="" || user_name==="" || password==="")
            {
                clickEvent.preventDefault()
                addform_error.classList.add("display")
                addform_error.classList.add("hide")
                addform_error.innerHTML= text
                change_style(addform_error)
            }
            else
            {
                document.getElementById("addform").submit()
            }
        })
        $(".updtclose").on("click",function(){
            myform.password.value=""
            myform.confirmpassword.value=""
            document.getElementById("update_rec_id").removeAttribute("value")
        })
        $(".addbtnclose").on("click",function(){
            addform.account_name.value=""
            addform.user_name.value=""
            addform.password.value=""
        })
    </script>

    
</body>
</html>